div {
    border: 3px solid black;
    padding: 5px;
    margin: 10px;
}

*{ background-color: azure;
  
#start-button {
  background-color;
}
  
#stop-button {
  background-color;
}

.container{ 
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    row-gap: 1rem;
}
