
* { background-color: repeating-linear-gradient(#bca0d2, #8293e9); }


.container{ 
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1rem;
}

div {
    border: 3px solid black;
}
