div {
    border: 3px solid black;
    padding: 5px;
    margin: 10px;
}
  
#start-button {
  background-color: green;
}
  
#stop-button {
  background-color: red;
}

.container{ 
    display:grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    row-gap: 3rem;
